
@{
    ViewBag.Title = "Services";
}

<!-- contact -->
<div class="contact wthree all_pad">
    <div class="container">
        <h2 class="title">Services<span></span></h2>
        <div class="ser-page">
            <div class="col-md-4 ser-first-grid text-center wow fadeInRight animated" data-wow-delay=".5s">
                <img src="~/images/icon1.png" alt=" " />
                <h4>Temporibus Autem</h4>
                <p>
                    These cases are perfectly simple and easy to distinguish.
                    In a free hour, when.
                </p>
            </div>
            <div class="col-md-4 ser-first-grid text-center wow fadeInUp animated" data-wow-delay=".5s">
                <img src="~/images/icon2.png" alt=" " />
                <h4>Temporibus Autem</h4>
                <p>
                    These cases are perfectly simple and easy to distinguish.
                    In a free hour, when.
                </p>
            </div>
            <div class="col-md-4 ser-first-grid text-center wow fadeInDown animated" data-wow-delay=".5s">
                <img src="~/images/icon3.png" alt=" " />
                <h4>Temporibus Autem</h4>
                <p>
                    These cases are perfectly simple and easy to distinguish.
                    In a free hour, when.
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- exp -->
<div class="experience agile all_pad">
    <div class="container">
        <h3 class="title">Popularised Services</h3>
        <div class="exp-page">
            <div class="col-md-4 exp-grids wow fadeInRight animated" data-wow-delay=".5s">
                <div class="exp-gd-info one">
                    <div class="exp-info-text hvr-rectangle-out">
                        <h4>Lacinia pulvinar nunc rutrum</h4>
                        <p>
                            Donec nulla justo, pharetra nulla, lacinia pulvinar nunc rutrum nisi vel nib  impedit quo minus id quod maxime placeat facere
                            possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 exp-grids wow fadeInUp animated" data-wow-delay=".5s">
                <div class="exp-info-img">
                    <img class="img-responsive" src="~/images/g1.jpg" alt=" " />
                </div>
                <div class="exp-info-img exp-top">
                    <img class="img-responsive" src="~/images/g2.jpg" alt=" " />
                </div>
            </div>
            <div class="col-md-4 exp-grids exp_three wow fadeInLeft animated" data-wow-delay=".5s">
                <div class="exp-gd-info three">
                    <div class="exp-info-text hvr-rectangle-out">
                        <h4>Lacinia pulvinar nunc rutrum</h4>
                        <p>
                            Donec nulla justo, pharetra nulla, lacinia pulvinar nunc rutrum nisi vel nib  impedit quo minus id quod maxime placeat facere
                            possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                        </p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>