body {
    margin: 0;
    padding: 0;
}

#d1 {
    width: 120px;
    height: 120px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
    background: red;
    color: white;
    animation-name: anim2; /*To be called in the keyframe*/
    animation-duration: 10s;
    animation-delay: 1s;
    animation-iteration-count: infinite; /*Number of time the animation will be executed*/
    animation-direction: normal;
    /*animation-direction: reverse;*/ /*Move in opposite side*/
    animation-timing-function: ease-in-out;
    position: relative;
    left: 0;
    top: 0;
    transform: rotateY(0deg);
}

@keyframes anim1 {
    /*Convert from red to yellow*/
    from {
        background: red;
    }

    to {
        background: yellow;
    }
}

@keyframes anim2 {
    /*Time line: 0% - 100%*/
    0% {
        left: 0;
        top: 0;
        width: 120px;
        height: 120px;
        transform: rotateY(0deg);
        border-radius: 5px;
    }

    10% {
        left: 10%;
        top: 25px;
        width: 620px;
        height: 120px;
        transform: rotateY(90deg);
        border-radius: 50%;
    }

    25% {
        left: 20%;
        top: 0px;
        width: 120px;
        height: 520px;
        transform: rotateY(160deg);
        border-radius: 150%;
    }

    30% {
        left: 50%;
        top: 40px;
        width: 820px;
        height: 100px;
        transform: rotateY(180deg);
        border-radius: 10%;
    }

    40% {
        left: 70%;
        top: 0px;
        width: 120px;
        height: 120px;
        transform: rotateY(210deg);
        border-radius: 12%;
    }

    45% {
        left: 90%;
        top: 50px;
        width: 420px;
        height: 420px;
        transform: rotateY(260deg);
    }

    70% {
        left: 90%;
        top: 600px;
        width: 120px;
        height: 120px;
        transform: rotateY(360deg);
    }

    80% {
        left: 0%;
        top: 600px;
        width: 920px;
        height: 720px;
        transform: rotateY(200deg);
    }

    100% {
        left: 0;
        top: 0;
        width: 50px;
        height: 50px;
        transform: rotateY(0deg);
    }
}
