body {
    margin: 80px;
}

/* css will apply on div class begin with 'container'  */
div[class^=container] {
    background: yellow;
    color: orange;
}

/* css will apply on div class contains with 'box'  */
[class*=box] {
    border: 5px inset orange;
}

/* css will apply on div class equals 'ammar-yas'  */
div[class~=ammar-yas] {
    border: 1px solid red;
}

/* css will apply on div class end with  'ox'  */
div[class$=ox] {
    background: green;
}

/* css will apply on div id contains 'div'  */
div[id|=div] {
    background: #38b7c0;
}

#p1 {
    column-count: 9; /*number of columns*/
    column-gap: 5px; /*gaps between the columns*/
    column-rule: 2px solid red; /*middle of the gap*/
    background: linear-gradient(#38b7c0,#a4e0e2,#a5d7e9);
}

#p2 {
    height: 240px;
    width: 300px;
    /*overflow: hidden;*/ /*hide the scroll and some text*/
    overflow: scroll; /*show the scroll*/
    text-align: justify; /*text justify*/
    /* overflow-x:scroll*/ /*scroll on x direction*/
    /* overflow-y:scroll*/ /*scroll on y direction*/
}
