#d1 {
    animation-name: anim; /*To be called in the keyframe*/
    animation-duration: 10s;
    animation-delay: 1s;
    animation-iteration-count: infinite; /*Number of time the animation will be executed*/
    animation-direction: normal;
    /*animation-direction: reverse;*/ /*Move in opposite side*/
    animation-timing-function: ease-in-out;
}

@keyframes anim {
    /*Convert from red to yellow*/
    from {
        background: red;
    }

    to {
        background: yellow;
    }
}
