
@{
    ViewBag.Title = "Users Details";
}

<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">@ViewBag.Title</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/js/jquery.dataTables.min.js"></script>
<script>
    $(function () {
        var table1;
        var table2;
        function Display() {
            $.ajax({
                url: "/api/users/GetUserDetails",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "JSON",
                success: function (obj) {
                    $('#table2').css("display", "none");
                    $('#table1').css("display", "block");
                    table1 = $('#UsersTable').DataTable({
                        "data": obj,
                        "columns": [
                            { "data": "FirstName" },
                            { "data": "LastName" },
                            { "data": "Email" },
                            { "data": "Role" },
                            { "defaultContent": "<button id='btnView'>View Purchases</button>" },
                            { "defaultContent": "<button id='btnDelete'>Delete User</button>" }
                        ]
                    });

                    //View user purchases
                    $('#UsersTable tbody').on('click', '#btnView', function () {
                        var data = table1.row($(this).parents('tr')).data();
                        $('#table1').css("display", "none");
                        $('#table2').css("display", "block");
                        $.ajax({
                            url: "/api/users/GetUserPurchases/" + data.ID,
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            dataType: "JSON",
                            success: function (obj) {
                                table2 = $('#UserPurchasesTable').DataTable({
                                    paging: false,
                                    searching: false,
                                    "data": obj,
                                    "columns": [
                                        { "data": "NumOfItems" },
                                        { "data": "TotalPrice" },
                                        { "data": "Date" }
                                    ]
                                });
                            }
                        });
                    });

                    //Delete user
                    $('#UsersTable tbody').on('click', '#btnDelete', function () {
                        var data = table1.row($(this).parents('tr')).data();
                        $.ajax({
                            url: "/api/users/DeleteUser/" + data.ID,
                            type: "DELETE",
                            contentType: "application/json; charset=utf-8",
                            dataType: "JSON",
                            success: function (obj) {
                                table1.destroy();
                                Display();
                            }
                        });
                    });

                }
            });
        }
        Display();

        //Back to users table
        $("#btnBack").click(function () {
            table2.destroy();
            $('#table2').css("display", "none");
            $('#table1').css("display", "block");
        });
    });
</script>
<div class="products">
    <div class="container">
        <div class="row" id="table1">
            <div class="col-md-12">
                <table id="UsersTable" class="display" style="max-width:100%">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row" id="table2">
            <div class="col-md-12">
                <button type="button" class="btn btn-link" id="btnBack">Back to Users Table</button>
                <table id="UserPurchasesTable" class="display" style="max-width:100%">
                    <thead>
                        <tr>
                            <th>Numer of Items</th>
                            <th>Total Price</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Numer of Items</th>
                            <th>Total Price</th>
                            <th>Date</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>