
@{
    ViewBag.Title = "Users Details";
}

<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">@ViewBag.Title</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/js/jquery.dataTables.min.js"></script>
<script>
    $(function () {
        $.ajax({
            url: "/api/GetUserDetails",
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "JSON",
            success: function (obj) {
                $('#example').DataTable({
                    "data": obj,
                    "columns": [
                        { "data": "FirstName" },
                        { "data": "LastName" },
                        { "data": "Email" },
                        { "data": "Role" }
                    ]
                });
            }
        });
    });
</script>
<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table id="example" class="display" style="max-width:100%">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>