
@{
    ViewBag.Title = "Users Details";
}

<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">@ViewBag.Title</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/js/jquery.dataTables.min.js"></script>
<script>
    $(function () {
        var table1, table2, data;

        // Display users details
        function Display() {
            $.ajax({
                url: "/api/users/GetUserDetails",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "JSON",
                success: function (obj) {
                    $('#table2').css("display", "none");
                    $('#table1').css("display", "block");
                    table1 = $('#UsersTable').DataTable({
                        "data": obj,
                        "columns": [
                            { "data": "FirstName" },
                            { "data": "LastName" },
                            { "data": "Email" },
                            { "data": "Role" },
                            { "defaultContent": "<button id='btnView' class='btn btn-primary'>Purchases History</button>" },
                            { "defaultContent": "<button id='btnDelete' class='btn btn-danger' data-toggle='modal' data-target='#exampleModal'>Delete</button>" }
                        ]
                    });
                },
                async: false
            });
        }
        Display();

        // Display user purchases
        $('#UsersTable tbody').on('click', '#btnView', function () {

            data = table1.row($(this).parents('tr')).data();
            $.ajax({
                url: "/api/users/GetUserPurchases/" + data.ID,
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "JSON",
                success: function (obj) {
                    table1.destroy();
                    $('#table1').css("display", "none");
                    $('#table2').css("display", "block");
                    table2 = $('#UserPurchasesTable').DataTable({
                        //paging: false,
                        //searching: false,
                        "data": obj,
                        "columns": [
                            { "data": "NumOfItems" },
                            { "data": "TotalPrice" },
                            { "data": "Date" }
                        ]
                    });
                },
                async: false
            });
        });

        // Get user id
        $('#UsersTable tbody').on('click', '#btnDelete', function () {
            data = table1.row($(this).parents('tr')).data();
        });

        // Delete user & profile & user purchases
        $("#btnYes").click(function () {
            table1.destroy();
            $.ajax({
                url: "/api/users/DeleteUser/" + data.ID,
                type: "DELETE",
                success: function () {
                    Display();
                },
                async: false
            });
        });

        //Back to users table
        $("#btnBack").click(function () {
            table2.destroy();
            Display();
            $('#table1').css("display", "block");
        });
    });
</script>
<div class="products">
    <div class="container">
        <div class="row" id="table1">
            <div class="col-md-12">
                <table id="UsersTable" class="display" style="max-width:100%">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="row" id="table2">
            <div class="col-md-12">
                <button type="button" class="btn btn-link" id="btnBack">Back to Users Table</button>
                <table id="UserPurchasesTable" class="display" style="max-width:100%">
                    <thead>
                        <tr>
                            <th>Numer of Items</th>
                            <th>Total Price</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Numer of Items</th>
                            <th>Total Price</th>
                            <th>Date</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this user?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnYes">Yes</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>