<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script>
        window.onload = function () {
            var message = document.getElementById('datepicker');
            // Select a portion of text
            createSelection(message, 0, 2);
            // get the selected portion of text
            var selectedText = message.value.substring(message.selectionStart, message.selectionEnd);
            //alert(selectedText);
        };

        function createSelection(field, start, end) {
            if (field.createTextRange) {
                var selRange = field.createTextRange();
                selRange.collapse(true);
                selRange.moveStart('character', start);
                selRange.moveEnd('character', end);
                selRange.select();
                field.focus();
            } else if (field.setSelectionRange) {
                field.focus();
                field.setSelectionRange(start, end);
            } else if (typeof field.selectionStart != 'undefined') {
                field.selectionStart = start;
                field.selectionEnd = end;
                field.focus();
            }
        }

        $(function () {
            //$(".datepicker").click(function () {
            //    $(this).select();
            //});

            $(".datepicker").on("input", function () {
                var date = $(this).val();
                var oldValue = date.split("/");

                var oldDay = "", newDay = "";
                if (typeof oldValue[0] === 'undefined')
                    oldDay = "dd";
                else
                    oldDay = oldValue[0];
                for (var i = 0; i < oldDay.length; i++) {
                    if (!isNaN(oldDay[i]))
                        newDay += oldDay[i];

                    if (!isNaN(newDay) && newDay.length > 1 && oldValue[1].length > 1) {
                        var message = document.getElementById('datepicker');
                        createSelection(message, 3, 5);
                        message.value.substring(message.selectionStart, message.selectionEnd);
                    }

                    if (isNaN(oldDay))
                        newDay = "dd";

                    if (i == 1)
                        break;
                }

                var oldMonth = "", newMonth = "";
                if (typeof oldValue[1] === 'undefined')
                    oldMonth = "mm";
                else
                    oldMonth = oldValue[1];
                for (var i = 0; i < oldMonth.length; i++) {
                    if (!isNaN(oldMonth[i]))
                        newMonth += oldMonth[i];

                    if (isNaN(oldMonth))
                        newMonth = "mm";

                    if (i == 1)
                        break;
                }

                var oldYear = "", newYear = "";
                if (typeof oldValue[2] === 'undefined')
                    oldYear = "yyyy";
                else
                    oldYear = oldValue[2];
                for (var i = 0; i < oldYear.length; i++) {
                    if (!isNaN(oldYear[i]))
                        newYear += oldYear[i];

                    if (isNaN(oldYear))
                        newYear = "yyyy";

                    if (i == 3)
                        break;
                }

                $(this).val(newDay + "/" + newMonth + "/" + newYear);
            });
        });
    </script>
</body>
</html>