body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserra';
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'MontserraBold';
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'BebasNeue';
    src: url(../fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: 'AlfaSlabOne';
    src: url(../fonts/AlfaSlabOne-Regular.ttf);
}




/*________________________________________________________________________________________________________________________________________*/
/*Header*/
header {
    min-height: 825px;
    background-image: url('../images/header background.png');
    background-attachment: fixed;
    /*background-position: center;
    background-size: cover;*/
    padding: 53px 57px 80px;
}

    header div.row:first-child > div:first-child figure:nth-child(2), header div.row:first-child > div:first-child figure:last-child {
        display: none;
    }

    header .express-delivery {
        font-family: MontserraBold;
        font-size: 16.667px;
        color: rgb(61, 37, 20);
        display: inline-flex;
        align-items: center;
    }

        header .express-delivery p {
            margin: 0 0 0 10px;
        }


nav {
    margin-top: 28px;
}

    nav a {
        font-size: 21px;
        font-family: BebasNeue;
        color: rgb(61, 37, 20);
        text-transform: uppercase;
        letter-spacing: 5px;
    }

        nav a:hover {
            color: rgb(61, 37, 20);
        }

        nav a:active {
            color: white;
        }

        nav a.space {
            margin-right: 58px;
        }

@media screen and (max-width:1200px) {
    nav a.space {
        margin-right: 20px;
    }
}

@media screen and (max-width:991.5px) {
    header {
        padding: 53px 0 80px;
    }

        header div.row:first-child > div {
            text-align: center;
        }

    nav a.space {
        margin-right: 48px;
    }
}

@media screen and (max-width:682px) {
    header div.row:first-child > div:first-child figure:first-child {
        display: none;
    }

    header div.row:first-child > div:first-child figure:nth-child(2), header div.row:first-child > div:first-child figure:last-child {
        display: block;
    }

    header .express-delivery {
        display: block;
    }

        header .express-delivery p {
            margin: 0;
        }

    nav a {
        display: block;
    }

        nav a.space {
            margin: 0 0 10px 0;
        }
}

header p.good-time {
    font-size: 25px;
    font-family: BebasNeue;
    color: rgb(61, 37, 20);
    border: 3px dashed #3d2514;
    margin: 0;
    max-width: 404px;
    text-align: center;
}

header figure.burger-title {
    max-width: 100%;
    line-height: 160px;
}

    header figure.burger-title img {
        max-width: 100%;
    }

header p.week {
    font-size: 60px;
    font-family: AlfaSlabOne;
    color: rgb(61, 37, 20);
    text-transform: uppercase;
    text-shadow: 6px 5px #fee8bc;
    margin: 0;
    line-height: 50px;
}

header div.second-row {
    display: flex;
    align-items: center;
}

    header div.second-row figure.burger-image {
        position: relative;
        max-width: 700px;
    }

        header div.second-row figure.burger-image img {
            max-width: 100%;
        }

@media screen and (max-width:991.5px) {
    header div.second-row {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    header p.good-time {
        margin: auto;
    }

    header p.good-time {
        margin-top: 50px;
    }
}




/*________________________________________________________________________________________________________________________________________*/
/*Best Burger*/
#best-burger div.row {
    margin-top: 78px;
}

#best-burger figure.popular {
    max-width: 596px;
    margin: 12px;
}

    #best-burger figure.popular img {
        max-width: 100%;
    }

#best-burger figure.fun, #best-burger figure.fresh {
    max-width: 596px;
    margin: 12px;
}

    #best-burger figure.fun img, #best-burger figure.fresh img {
        max-width: 100%;
    }

#best-burger figure.fun {
    margin-bottom: 31px;
}

@media screen and (max-width:1199.5px) {
    #best-burger figure.fun {
        margin-bottom: 26px;
    }
}

@media screen and (max-width:991.5px) {
    #best-burger figure.popular {
        margin-right: auto;
        margin-left: auto;
    }

    #best-burger figure.fun, #best-burger figure.fresh {
        margin-right: auto;
        margin-left: auto;
    }

    #best-burger figure.fun {
        margin-top: 36px;
    }
}




/*________________________________________________________________________________________________________________________________________*/
/*Choose Burger*/
#choose-burger div.title {
    color: #3d2514;
    font-size: 25px;
    font-family: BebasNeue;
    background-color: #ffc045;
    width: 218px;
    margin: 59px auto 40px;
}

    #choose-burger div.title p {
        padding: 5px 0;
        margin: 0;
    }

#choose-burger h2 {
    font-size: 50px;
    font-family: AlfaSlabOne;
    color: rgb(61, 37, 20);
    text-transform: uppercase;
}

#choose-burger p.body-text {
    color: #3d2514;
    font-family: Montserra;
    font-size: 16.667px;
}

#choose-burger div.container-fluid div.row {
    margin-top: 70px;
}

    #choose-burger div.container-fluid div.row figure.burger2 {
        margin-top: 35px;
    }

@media screen and (max-width:1024px) {
    #choose-burger div.container-fluid div.row figure.burger2 {
        margin-top: 25px;
    }
}

#choose-burger div.container-fluid div.row img {
    margin: auto;
}

#choose-burger div.container-fluid div.row h3 {
    font-size: 37.5px;
    font-family: BebasNeue;
    color: rgb(61, 37, 20);
    text-transform: uppercase;
}

#choose-burger div.container-fluid div.row p {
    font-size: 16.667px;
    font-family: Montserra;
    color: rgb(61, 37, 20);
    max-width: 340px;
    margin: auto;
}

#choose-burger div.container-fluid div.row input[type=button] {
    background: none;
    border: none;
    outline: none;
    color: #ffffff;
    background-image: url('../images/button background.png');
    font-size: 16.667px;
    font-family: AlfaSlabOne;
    text-transform: uppercase;
    padding: 20px 40px;
    margin-top: 37px;
    margin-bottom: 70px;
}
