body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserra';
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'MontserraBold';
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'BebasNeue';
    src: url(../fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: 'AlfaSlabOne';
    src: url(../fonts/AlfaSlabOne-Regular.ttf);
}




/*________________________________________________________________________________________________________________________________________*/
/*Header*/
header {
    min-height: 825px;
    background-image: url('../images/header background.png');
    background-attachment: fixed;
    /*background-position: center;
    background-size: cover;*/
    padding: 53px 57px 80px;
}

    header div.row:first-child > div:first-child figure:nth-child(2), header div.row:first-child > div:first-child figure:last-child {
        display: none;
    }

    header .express-delivery {
        font-family: MontserraBold;
        font-size: 16.667px;
        color: rgb(61, 37, 20);
        display: inline-flex;
        align-items: center;
    }

        header .express-delivery p {
            margin: 0 0 0 10px;
        }


nav {
    margin-top: 28px;
}

    nav a {
        font-size: 21px;
        font-family: BebasNeue;
        color: rgb(61, 37, 20);
        text-transform: uppercase;
        letter-spacing: 5px;
    }

        nav a:hover {
            color: rgb(61, 37, 20);
        }

        nav a:active {
            color: white;
        }

        nav a.space {
            margin-right: 58px;
        }

@media screen and (max-width:1200px) {
    nav a.space {
        margin-right: 20px;
    }
}

@media screen and (max-width:991.5px) {
    header {
        padding: 53px 0 80px;
    }

        header div.row:first-child > div {
            text-align: center;
        }

    nav a.space {
        margin-right: 48px;
    }
}

@media screen and (max-width:682px) {
    header div.row:first-child > div:first-child figure:first-child {
        display: none;
    }

    header div.row:first-child > div:first-child figure:nth-child(2), header div.row:first-child > div:first-child figure:last-child {
        display: block;
    }

    header .express-delivery {
        display: block;
    }

        header .express-delivery p {
            margin: 0;
        }

    nav a {
        display: block;
    }

        nav a.space {
            margin: 0 0 10px 0;
        }
}

header p.good-time {
    font-size: 25px;
    font-family: BebasNeue;
    color: rgb(61, 37, 20);
    border: 3px dashed #3d2514;
    margin: 0;
    max-width: 404px;
    text-align: center;
}

header figure.burger-title {
    max-width: 100%;
    line-height: 160px;
}

    header figure.burger-title img {
        max-width: 100%;
    }

header p.week {
    font-size: 60px;
    font-family: AlfaSlabOne;
    color: rgb(61, 37, 20);
    text-transform: uppercase;
    text-shadow: 6px 5px #fee8bc;
    margin: 0;
    line-height: 50px;
}

header div.second-row {
    display: flex;
    align-items: center;
}

    header div.second-row div:last-child {
        margin-left: auto;
    }

@media screen and (max-width:991.5px) {
    header div.second-row {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    header p.good-time {
        margin: auto;
        margin-top: 50px;
    }
}




/*________________________________________________________________________________________________________________________________________*/
/*Best Burger*/
#best-burger div.row {
    margin-top: 78px;
}

#best-burger figure.popular {
    max-width: 596px;
    margin-left: auto;
}

#best-burger figure.fun, #best-burger figure.fresh {
    max-width: 596px;
}

#best-burger figure.fun {
    margin-bottom: 36px;
}

@media screen and (max-width:1199.5px) {
    #best-burger figure.fun {
        margin-bottom: 29px;
    }
}

@media screen and (max-width:991.5px) {
    #best-burger figure.popular {
        margin-right: auto;
        margin-left: auto;
    }

    #best-burger figure.fun, #best-burger figure.fresh {
        margin-right: auto;
        margin-left: auto;
    }

    #best-burger figure.fun {
        margin-top: 39px;
    }
}




/*________________________________________________________________________________________________________________________________________*/
/*Choose Burger*/
#choose-burger div.title {
    color: #3d2514;
    font-size: 25px;
    font-family: BebasNeue;
    background-color: #ffc045;
    width: 218px;
    margin: 59px auto 40px;
}

    #choose-burger div.title p {
        padding: 5px 0;
        margin: 0;
    }

#choose-burger h2 {
    font-size: 50px;
    font-family: AlfaSlabOne;
    color: rgb(61, 37, 20);
    text-transform: uppercase;
}

#choose-burger p.body-text {
    color: #3d2514;
    font-family: Montserra;
    font-size: 16.667px;
}

#choose-burger div.container-fluid div.row {
    margin-top: 70px;
}

    #choose-burger div.container-fluid div.row figure.burger2 {
        margin-top: 35px;
    }

@media screen and (max-width:1024px) {
    #choose-burger div.container-fluid div.row figure.burger2 {
        margin-top: 25px;
    }
}

#choose-burger div.container-fluid div.row img {
    margin: auto;
}

#choose-burger div.container-fluid div.row h3 {
    font-size: 37.5px;
    font-family: BebasNeue;
    color: rgb(61, 37, 20);
    text-transform: uppercase;
}

#choose-burger div.container-fluid div.row p {
    font-size: 16.667px;
    font-family: Montserra;
    color: rgb(61, 37, 20);
    max-width: 340px;
    margin: auto;
}

#choose-burger div.container-fluid div.row input[type=button] {
    background: none;
    border: none;
    outline: none;
    color: #ffffff;
    background-image: url('../images/button background.png');
    font-size: 16.667px;
    font-family: AlfaSlabOne;
    text-transform: uppercase;
    padding: 20px 40px;
    margin-top: 37px;
    margin-bottom: 70px;
}




/*________________________________________________________________________________________________________________________________________*/
/*Slider*/
#slider #carousel-example-generic .carousel-inner {
    padding-top: 61px;
    padding-bottom: 132px;
}

    #slider #carousel-example-generic .carousel-inner .item {
        max-width: 86%;
        margin: auto;
        padding: 27px 27px 27px 53px;
        box-shadow: 30px 30px 55px #dbdbdb;
    }

.h4-custom {
    font-size: 29px;
    font-family: BebasNeue;
    color: rgb(61, 61, 61);
    text-transform: uppercase;
    margin-top: 36px;
}

.h2-custom {
    font-size: 41.667px;
    font-family: AlfaSlabOne;
    color: rgb(61, 37, 20);
    text-transform: uppercase;
    word-break: break-word;
}

#slider #carousel-example-generic .carousel-inner .item p {
    font-size: 21px;
    font-family: Montserra;
    color: #3d3d3d;
    line-height: 1.6;
}

.carousel-indicators {
    text-align: left;
    bottom: 160px;
    left: 40.5%;
}

#carousel-example-generic > ol > li {
    transform: scale(1.5);
    margin-left: 8px;
}

@media screen and (max-width:1374.5px) {
    .carousel-indicators {
        bottom: 140px;
    }
}

@media screen and (max-width:1228.5px) {
    .carousel-indicators {
        text-align: center;
        left: 50%;
    }
}

@media screen and (max-width:1024.5px) and (min-width:991.5px) {
    #slider #carousel-example-generic .carousel-inner .item img {
        margin-top: 60%;
        transform: translateY(-50%);
    }
}

@media screen and (max-width:991.5px) {
    .carousel-indicators {
        text-align: center;
        left: 50%;
        top: 90px;
    }
}

#carousel-example-generic > ol > li {
    background-color: #dcdcdc;
}

    #carousel-example-generic > ol > li.active {
        background-color: #ffc045;
    }




/*________________________________________________________________________________________________________________________________________*/
/*Reservation*/
#reservation input {
    width: 100%;
    height: 65px;
}

@media screen and (max-width:1750.5px) {
    #reservation input {
        width: 379px;
    }
}

#reservation h2.h2-custom {
    margin-bottom: 90px;
}

#reservation input[type=text], #reservation input[type=email] {
    text-indent: 22px;
}

#reservation input::placeholder {
    text-transform: uppercase;
}

#reservation input[type=button] {
    text-transform: uppercase;
    outline: none;
}

    #reservation .container form.row > div:first-child input {
        margin-left: auto;
    }

    #reservation .container form.row > div:last-child input[type=text], #reservation .container form.row > div:last-child input[type=email] {
        margin-right: auto;
    }

@media screen and (max-width:991.5px) {
    #reservation input {
        max-width: 100%;
        max-height: 50px;
    }

    #reservation .container form.row > div input {
        margin: auto;
    }

    #reservation .container form.row > div:last-child > div:last-child {
        text-align: center;
    }
}

@media screen and (max-width:330.5px) {
    #reservation input {
        max-width: 280px;
        max-height: 45px;
    }
}

#reservation div.bottle-burger {
    display: flex;
    position: relative;
}

    #reservation div.bottle-burger figure:last-child {
        display: flex;
        position: absolute;
        left: 7%;
        top: 230px;
    }

#reservation {
    position: relative;
}

    #reservation div.food-images {
        width: 100%;
        position: absolute;
        left: 0%;
        top: 0px;
        z-index: -1;
    }

    #reservation div.burger-dish {
        position: relative;
        top: -227px;
    }

@media screen and (max-width:1310.5px) {
    #reservation div.bottle-burger > figure {
        width: 15%;
    }

    #reservation div.burger-dish > figure {
        width: 40%;
    }

    #reservation div.burger-dish {
        top: 120px;
    }

    #reservation div.bottle-burger {
        top: 150px;
    }

        #reservation div.bottle-burger figure:last-child {
            left: 0%;
            top: 150px;
        }
}

@media screen and (max-width:991.5px) {
    #reservation div.bottle-burger > figure {
        width: 25%;
    }

    #reservation div.burger-dish > figure {
        width: 50%;
    }
}

@media screen and (max-width:645.5px) {
    #reservation div.food-images {
        top: 470px;
    }

    #reservation div.burger-dish {
        top: -50px;
    }

    #reservation div.bottle-burger > figure {
        width: 50%;
    }

    #reservation div.burger-dish > figure {
        width: 80%;
    }
}
