/* stylelint-disable selector-no-qualifying-type, property-no-vendor-prefix */

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    /*max-width: 330px;*/
    min-width: 40%;
    padding: 15px;
    margin: 0 auto;
    background-image: url('../images/header background.png');
    background-position: center;
    background-size: cover;
    border-radius: 6px;
}

/*header .sign-in-form {
    position: relative;
    left: 100%;
}*/

header .modal-content {
    border-right: 0;
}

@media (min-width: 768px) {
    header .modal-sm {
        /*width: 300px;*/
        min-width: 40%;
    }

    header .modal-content {
        border-bottom: 0;
    }
}

.form-signin, .form-signin {
    /*margin-bottom: 10px;*/
}

    .form-signin .form-control {
        position: relative;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .form-signin figure img {
        margin: 0 auto 20px;
        max-width: 75%;
    }

    .form-signin input[type="email"], .form-signin input[type="password"] {
        text-indent: 15px;
        font-size: 18px;
        color: rgb(61, 61, 61);
    }

    .form-signin input::placeholder {
        font-family: BebasNeue;
    }

    .form-signin button[type=submit] {
        text-transform: uppercase;
        outline: none;
        font-size: 18px;
        font-family: AlfaSlabOne;
        margin-bottom: 10px;
    }

    .form-signin div a {
        font-size: 18px;
        font-family: BebasNeue;
    }

    .form-signin .glyphicon-remove {
        font-size: 30px;
        cursor: pointer;
    }

        .form-signin .glyphicon-remove:hover {
            color: rgb(255, 255, 255);
        }
